[Unit]
Description=Log users out after a period of inactivity
After=graphical.target

[Timer]
OnCalendar=*-*-* *:*:00
Unit=codam-web-greeter-exam-restart.service

[Install]
WantedBy=multi-user.target
