[Unit]
Description=Log users out after a period of inactivity
After=network.target

[Timer]
OnCalendar=*:0/1
Unit=codam-web-greeter-exam-restart.service

[Install]
WantedBy=multi-user.target
